/*****************************************************/
/*                COMMOM STYLE                       */
/*****************************************************/
body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h1 {
    color: rgb(22, 20, 20);
    text-shadow: 4px 4px 4px rgb(216, 197, 197);
    margin-top: 2%;
    margin-bottom: 1.5%;
    font-size: 48px;
}

/*****************************************************/
/*                INDEX.HTML                         */
/*****************************************************/

.whiteBoxIndex {
    background-color: white;
    padding: 2%;
    width: 35%;
    height: 100%;
}

#text1 {
    text-align: center;
}

.botaodeEnvio
{
    color: white;
    background-color: royalblue;
    /* padding: 500px; */
    font-weight: bold;
    
}


/*****************************************************/
/*               FORM.HTML                           */
/*****************************************************/


.whiteBoxForm {
    background-color: white;
    padding: 2%;
    width: 35%;
    height: 100%;
}

.labelWhiteBox{
    margin-top: 5px;
    font-weight: bold;
}

.fieldsWhiteBox {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 1%;

}

#dataNascimentoInput {
    color: grey;
}

.espaco1{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Como é um ID, usar # */
#ver {
    color: red;
    font-weight: bold;
    

}

.botaoCadastro
{
    color: white;
    background-color: royalblue;
    padding: 5px;
    font-weight: bold;
    
}




