
body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("87540.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h1 {
    color: white;
}

.minhaClasse {
    margin-top: 0px;
    margin-bottom: 5px;

}


.caixa-branca {
    background-color: white;
    padding: 15px;
    width: 30%;
    height: 100%;
}

.espaco{
    margin-bottom: 20px;
}

.botaodeEnvio
{
    color: white;
    background-color: royalblue;
    padding: 5px;
}